*,
html {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: aqua;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 2;
}

header h2 {
  flex-grow: 1;
}

header div {
  flex-grow: 6;
}

header div input {
  width: 370px;
}

header a {
  flex-grow: 1;
  text-decoration: none;
  color: #000;
}

nav {
  width: 100%;
  background-color: linen;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 50px;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: red;
}

#center {
  display: flex;
  width: 100%;
}

#center aside {
  width: 20%;
  height: calc(100vh - 100px);
  top: 100px;
  position: fixed;
  background-color: cornflowerblue;
  overflow-y: auto;
}

#center section {
  width: 80%;
  margin-left: 20%;
  top: 100px;
  position: absolute;
  background-color: silver;
  overflow-y: auto;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #707070;
  height: 20px;
}
